.a {
  color: black !important;
}
.brand-logo {
  font-family: "Grand Hotel", cursive;
}

.logo{
  margin-left: -40%;
  color: black !important;
}

@media only screen and (max-width: 550px) {
.logo{
  margin-left: -40%;
}
ul{
  display: none;
}
}
@media only screen and (min-width: 992px) {
  .logo{
    margin-left: auto;
  }
}
